html{
    background-color: black;
}
.page {
    background-color: #1F2937;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display:flex;
    
}
.header{
  height:50px;
  width:100%;
  padding:10px;
  display:flex;
  /*justify-content:space-evenly;*/
  border: 2px solid darkslategray;
}
.page.topSpacer{
  top:70px;
  height:20px;
  border: 2px solid darkslategray;
}
  .logoText{
    font-size: 24px;
    margin-left: 25%;
    font-weight: bolder;
    color:#F9FAF8;
    display:flex;
    border: 2px solid darkslategray;
  }
  .linkText{
    font-size: 18px;
    color:#E5E7EB;
    padding:10px;
    display:flex;
    /*justify-content:space-evenly;*/
    border: 2px solid darkslategray;
  }
  .page.topSection{
    top:90px;
    height:18%;
    border: 2px solid darkslategray;
    display:flex;
  }
  .topSection.left{
    width: 50%;
    padding-top:1%;
    padding-left:12%;
    padding-right:5%;
    float:left;
    flex-direction: column; 
    border: 2px solid darkslategray;
  }
  .topSection.right{
    padding-top:1%;
    padding-left:12%;
    padding-right:5%;
    margin-left: 10px;
    width: 50%;
    float:right;
    border: 2px solid darkslategray;
  }
  .largeText{
    border: 2px solid darkslategray;
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
  }
  .smallText{
    border: 2px solid darkslategray;
    font-size: 18px;
    font-weight:normal;
    color:#E5E7EB;
  }
.page.wide-stripe {
  border: 2px solid darkslategray;
    top:25%;
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    height: 36%;
}
  .informationHeader{
    border: 2px solid darkslategray;
    height:40px;
    width: 100%;
    color:#1F2937;
    font: size 38px;
    font-weight: bolder;
    text-align: center;
  }
  .whiteBoxContainer{
    border: 2px solid darkslategray;
    display:flex;
    vertical-align:middle;
    height: 50%;
    margin:30px;
  }
.page.quote-background {
    background-color: #E5E7EB;
    height: 20%;
    top:60%;
    bottom: 20%;
}
button.confirm {
  background: #3882F6;
  color: white;
  font-size: 15px;
  border-radius: 9px;
  padding: 3px;
  height: 40px;
  width: 90px;
  font-weight: bold;
} 
.button {
  background-color: #3882F6;
  color: black;
  font-size: 15px;
}


div.text {
  color: green;
  font-size: 28px;
}
  div.child {
    color: red;
    font-size: 14px;
  }

